html
	head
		title Edit - #{name}
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/pubStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
	body
		include ../views/elements/topbar.pug

		#contents
			if (owner)
				.descriptionBox(style="text-align: center")
					form(action="/edit" method="post" id="edit")
						h1(class='imgAndName_name') Name:
						input(style= "margin: auto; width:100%; font-size: 48; border-style: hidden; text-align: center" type="text" name='name' form='edit' value=`${name}`)
						h2 Description:
						textarea(form = "edit" rows="35" style="min-width: 100%; border-style: hidden" name="description" required)
							| #{description}
						input(type='hidden' name='pubID' value = `${pubID}`)
						input(type='hidden' name='url' value = `${url}`)
						input(type="submit" name="submit" value="Submit")
			else
				h1 How did you get here you naughty man?
