html
	head
		title Pub! - #{name}
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/pubStyle.css
			include ../public/css/userStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
	body
		include ../views/elements/topbar.pug

		#contents
			if (owner)
				form(action="/user", method="post" name="delete")
					script.
							var something = function() {
								var check = window.confirm('Are you sure?')
								if(check == true)
									document.delete.submit();
							}
					
					button(onclick='something()' type='button') Delete profile
			div(class='imgAndName_wrapper')
				div(class='imgAndName_imgContainer')
					img(class='imgAndName_img' src=imgPath)
				h1(class='imgAndName_name') #{name}

			div(id='descriptionBox')
				h2 Email:
				p= email

			if pubs
				if pubs.length != 0
					br
					h4 Your Pubs:
					#pubBlock
						each value in pubs
								div(class='pub')
									h4 
										a(href="/pubs/"+value.url) #{value.name}
									p #{value.city}, #{value.postcode}