html
	head
		title Pub! - #{name}
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/pubStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
	body
		include ../views/elements/topbar.pug

		#contents
			if (owner)
				form(action="/pubs", method="post" name="delete")
					script.
							var something = function() {
								var check = window.confirm('Are you sure?')
								if(check == true)
									document.delete.submit();
							}
					input(type="hidden" name="pubID" value=`${pubID}`)
					input(type="hidden" name="edit" value=false)
					button(onclick='something()' type='button') Delete pub
				form(action="/pubs", method="post" name="edit")
					input(type="hidden" name="url" value=`${url}`)
					input(type="hidden" name="edit" value=true)
					button(type='submit') Edit pub
			.imgAndName_wrapper
				.imgAndName_imgContainer
					img(class='imgAndName_img' src=imgPath)
				h1(class='imgAndName_name') Welcome to #{name}!

			.descriptionBox
				h2 Description:
				p!= description

			.row
				.col50
					h3 Come find us at:
					p(class='noPadding')= address
					p(class='noPadding')= city
					p= postcode
				.col50
					#map

			.imgAndName_wrapper(style='padding-top: 10px;')
				.imgAndName_imgContainer
					img(class='imgAndName_img' src=ownerImgPath)
				h3(class='imgAndName_name' style='font-size: 1.5em;') Owned by: #{ownerName}.

			script(lat= `${lat}` lng=`${lng}` src='/js/map.js' id="loc")
			script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqYM9hSp5-xP0X-_b2G10nKQCvpTccX-0&callback=initMap")